name: CI

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Install dependencies
        run: poetry install

      - name: Setup Node.js environment
        uses: actions/setup-node@v5.0.0

      - name: Install browser dependencies
        run: poetry run rfbrowser init

      - name: Run Robot Framework tests
        run: poetry run robot tests/

      - name: Upload Robot Framework results
        uses: actions/upload-artifact@v4
        with:
          path: output
          name: results
          retention-days: 3
