name: CI

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v2

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: 'pyproject.toml' # Read python version from a file pyproject.toml
          cache: 'poetry'

      - name: Install dependencies
        run: poetry install

      - name: Setup Node.js environment
        uses: actions/setup-node@v5.0.0

      - name: Install Appium
        run: npm install -g appium

      - name: Install Appium XCUITest driver
        run: appium driver install xcuitest

      - name: Boot iOS Simulator
        uses: futureware-tech/simulator-action@v4
        with:
          model: 'iPhone 16'

      - name: Start Appium server
        run: nohup appium > appium.log 2>&1 &

      - name: Wait for Appium server to be ready
        run: |
          for i in {1..30}; do
            if curl -s http://localhost:4723/wd/hub/status | grep -q '"ready":true'; then
              echo "Appium is ready!"
              break
            fi
            echo "Waiting for Appium to be ready..."
            sleep 2
          done

      - name: Install browser dependencies
        run: poetry run rfbrowser init

      - name: Run Robot Framework tests
        run: poetry run robotcode robot tests/

      - name: Upload Robot Framework results
        uses: actions/upload-artifact@v4
        with:
          path: output
          name: test-results
          retention-days: 3
