name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
      # run API tests (fast)
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: 'pyproject.toml' # Read python version from a file pyproject.toml

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v2

      - name: Install dependencies
        run: poetry install
      
      - name: Run Robot Framework tests
        run: poetry run robotcode robot --outputdir "results/api" tests/api_tests

      - name: Upload API test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          path: results/api
          name: api-results
          retention-days: 30

  browser-tests:
    runs-on: ubuntu-latest
    steps:
      # run Browser tests with rfbrowser
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: 'pyproject.toml' # Read python version from a file pyproject.toml

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v2

      - name: Install dependencies
        run: poetry install

      - name: Setup Node.js environment
        uses: actions/setup-node@v5.0.0

      - name: Install browser dependencies # Required for Browser library
        run: poetry run rfbrowser init

      - name: Run Robot Framework tests
        run: poetry run robotcode robot --outputdir "results/browser"  tests/browser_tests

      - name: Upload browser test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          path: results/browser
          name: browser-results
          retention-days: 30

  mobile-tests:
    runs-on: macos-latest
    steps:
      # run Appium + iOS Simulator tests
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: 'pyproject.toml' # Read python version from a file pyproject.toml

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v2

      - name: Install dependencies
        run: poetry install

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
      
      # ---- iOS spezifisch ----
      - name: Install Node + Appium
        run: |
          brew install node
          npm install -g appium
          appium driver install xcuitest

      - name: Boot iOS Simulator
        uses: futureware-tech/simulator-action@v4
        with:
          os: 'iOS'
          model: 'iPhone 17 Pro'
          os_version: '>=26.2'
          erase_before_boot: 'true'
          wait_for_boot: 'true'
          shutdown_after_job: 'true'

      - name: Start Appium server
        run: |
          nohup appium --address 127.0.0.1 --port 4723 > appium.log 2>&1 &
          sleep 10

      - name: Run Robot Framework tests
        run: poetry run robotcode robot --outputdir "results/mobile" tests/mobile_tests

      - name: Upload Appium Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: appium-log
          path: appium.log

      - name: Upload Robot Framework results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          path: results/mobile
          name: mobile-results
          retention-days: 30
